name: Deploy to Tomcat

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build WAR
        run: |
          mvn clean package

      - name: Deploy to Tomcat
        run: |
          curl -u ${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASSWORD }} \
          --upload-file target/*.war \
          "${{ secrets.TOMCAT_HOST }}/manager/text/deploy?path=/myapp&update=true"
